
.heroes {
  display: inline-block;
  color: #000;
  list-style: none;
  margin: 0;
  padding: 0
}

.heroes li {
  margin: 0 0 10px 0;
  padding: 10px 10px 10px 0;
  background-color: #CCC;
  border: 0;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-botton: 1px solid #CCC;
  border-radius: 4px;
  cursor: pointer;
}

.heroes li .badge {
  background-color: #336699;
  padding: 10px 10px 10px 10px;
  border: 1px solid #CCC;
  border-radius: 4px 0 0 4px;
}

.heroes .selected {
  background-color: #a5a5a5;
}
